<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://cxf.apache.org/jaxws 
    http://cxf.apache.org/schemas/jaxws.xsd
    http://cxf.apache.org/jaxrs
    http://cxf.apache.org/schemas/jaxrs.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<!-- 指定连接数据库的驱动 -->
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://192.168.0.131:3306/shixun"></property>
		<property name="username" value="buynow"></property>
		<property name="password" value="buynow"></property>
		<property name="maxActive" value="100"></property>
		<property name="maxIdle" value="30"></property>
		<property name="maxWait" value="500"></property>
	</bean>
	<!-- 配置sessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>org.example.ws.bean.Account</value>
				<value>org.example.ws.bean.Association</value>
				<value>org.example.ws.bean.Commercial</value>
				<value>org.example.ws.bean.Coupon</value>
				<value>org.example.ws.bean.Facility</value>
				<value>org.example.ws.bean.Picture</value>
				<value>org.example.ws.bean.PictureSet</value>
			</list>
		</property>
	</bean>

	<!-- Dao配置 -->
	<bean id="AccountDao" class="org.example.ws.dao.impl.AccountDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="AssociationDao" class="org.example.ws.dao.impl.AssociationDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="CommercialDao" class="org.example.ws.dao.impl.CommercialDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="CouponDao" class="org.example.ws.dao.impl.CouponDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="FacilityDao" class="org.example.ws.dao.impl.FacilityDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="PictureDao" class="org.example.ws.dao.impl.PictureDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="PictureSetDao" class="org.example.ws.dao.impl.PictureSetDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="HelloWorldRestBean" class="org.example.ws.service.impl.HelloWorldServiceRestImpl" />
	<jaxrs:server id="HelloWorldRestService" address="/helloworldrest">
		<jaxrs:serviceBeans>
			<ref bean="HelloWorldRestBean" />
		</jaxrs:serviceBeans>
	</jaxrs:server>

	<jaxws:server id="HelloWorldService"
		serviceClass="org.example.ws.service.HelloWorldService" address="/helloworld">
		<jaxws:serviceBean>
			<bean class="org.example.ws.service.impl.HelloWorldServiceImpl" />
		</jaxws:serviceBean>
	</jaxws:server>
</beans>   